.section3-container {
  width: 100%;
  padding: 100px 0;
  background-color: #fff;
}

.section3-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center; 
  justify-content: space-between;
  gap: 50px;
  padding: 0 20px;
}


.image-block {
  flex: 1;
}

.image-block img {
  width: 100%;
  max-width: 600px;
  height: auto;
  display: block;
}

.sect-wrapper {
  flex: 1;
}

.subtitles {
  font-family: 'Yellowtail', cursive; 
  color: #7EB693;
  font-size: 30px;
  font-style: normal;
  display: block;
  margin-bottom: 8px;
}

.main-titles {
  font-family: 'Roboto', sans-serif;
  color: #274C5B;
  font-size: 45px;
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: 25px;
}

.descriptionw {
  font-family: 'Open Sans', sans-serif;
  color: #525C60;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.features {
  margin: 30px 0;
}

.feature-item {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.icon-box {
  background-color: #F9F8F8;
  padding: 15px;
  border-radius: 15px;
  color: #7EB693;
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: 6px -6px 0px -2px rgba(239, 211, 114, 0.4); */
}

.feature-text h3 {
  font-size: 18px;
  color: #274C5B;
  font-weight: 700;
  margin: 0;
}

.explore-btn {
  background-color: #274C5B;
  color: #fff;
  padding: 20px 35px;
  border-radius: 15px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.3s ease;
}

.explore-btn:hover {
  background-color: #335b6d;
}

@media (max-width: 992px) {
  .section3-wrapper {
    flex-direction: column;
    text-align: center;
  }
  
  .feature-item {
    justify-content: center;
  }
  
  .explore-btn {
    margin: 0 auto;
  }

  .main-title {
    font-size: 32px;
  }
}