.Section10 {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr; 
    max-width: 1200px;
    margin: 60px auto;
    padding: 0 20px;
    align-items: flex-start;
    font-family: 'Inter', sans-serif;
}

.sect1 {
    text-align: right;
    padding-right: 40px;
    border-right: 1px solid #D4D4D4; 
}

.sect1 h1 {
    color: #274C5B;
    font-size: 24px;
    margin-bottom: 25px;
}

.sect1 p {
    color: #274C5B;
    font-weight: 700;
    margin-bottom: 5px;
}

.sect1 b {
    display: block;
    color: #525C60;
    font-weight: 400;
    margin-bottom: 25px;
}

.sect2 {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    text-align: center;
    padding: 0 20px;
}

.logo-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.sect2 p {
    color: #525C60;
    line-height: 1.6;
    max-width: 350px; 
    margin: 0 auto 30px auto; 
    font-size: 16px;
}

.sect2 .img {
    display: flex;       
    justify-content: center;
    gap: 15px;           
    width: 100%;         
}

.sect2 .img img {
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.sect3 {
    text-align: left;
    padding-left: 40px;
    border-left: 1px solid #D4D4D4; 
}

.sect3 h1 {
    color: #274C5B;
    font-size: 24px;
    margin-bottom: 25px;
}

.sect3 h2, .sect3 h3, .sect3 h4, .sect3 h5, .sect3 h6 {
    color: #525C60;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 18px;
    cursor: pointer;
}

.sect3 h2:hover, .sect3 h3:hover, .sect3 h4:hover, .sect3 h5:hover, .sect3 h6:hover {
    color: #274C5B;
}

@media (max-width: 992px) {
    .Section10 {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .sec1, .sec3 {
        text-align: center;
        border: none;
        padding: 20px 0;
    }
    .sec1 {
        border-bottom: 1px solid #D4D4D4;
    }
}