.section1-container {
  width: 100vw; 
  padding: 0;
}

.section1-container img {
  width: 100%;
  height: auto;
  display: block;
}


body {
  margin: 0;
  padding: 0;
}

.section1-container {
  width: 100%;
  padding: 0;
  margin: 0;
}

.section1-container img {
  width: 100%;
  height: auto;
  display: block;
}

@media (min-width: 1400px) {
  .section1-container img {
    height: 85vh;
    object-fit: cover;
  }
}

@media (max-width: 1200px) {
  .section1-container img {
    height: auto;
  }
}

@media (max-width: 768px) {
  .section1-container img {
    height: auto;
  }
}

@media (max-width: 576px) {
  .section1-container img {
    height: auto;
  }
}