.contact img{
width: 1900px;
}
.contact img {
    width: 100%;
    max-width: 1990px;
    height: 450px;
    object-fit: cover;
}

@media (max-width: 1690px) {
    .contact img {
        max-width: 100%;
    }
}

@media (max-width: 1200px) {
    .contact img {
        height: 350px;
    }
}

@media (max-width: 768px) {
    .contact img {
        height: 250px;
    }
}

@media (max-width: 576px) {
    .contact img {
        height: 200px;
    }
}