.section4-containers {
    padding: 80px 10%;
    display: flex;
    justify-content: center;
}

.section4-formss {
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form-rowss {
    display: flex;
    gap: 35px;
}

.input-group-itemss {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1;
}

.input-group-itemss label {
    font-weight: 700;
    color: #274C5B;
    font-size: 18px;
}

.form-inputss, .form-textareass {
    padding: 20px 25px;
    border: 1px solid #7EB693;
    border-radius: 16px;
    outline: none;
    font-size: 15px;
    font-style: italic;
    color: #525C60;
}

.form-textareass {
    height: 200px;
    resize: none;
}

.form-buttonss {
    width: fit-content;
    padding: 20px 40px;
    background-color: #274C5B;
    color: #fff;
    border: none;
    border-radius: 12px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}

.form-buttonss:hover {
    background-color: #335b6d;
}

@media (max-width: 768px) {
    .form-rowss {
        flex-direction: column;
    }
}